
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/anim.css">
    <link rel="stylesheet" type="text/css" href="styles/loader.css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-circled-m-32.png">
    <div class="cursor"></div>
    <title>Omer Mitran</title>
</head>
<body>
    <%- include("header.ejs") %>
    <div class="index-container fade-in-bck">
        <div class="title-container">
            <h1 class="title">Fullstack - <br>Web Developer <span class="secondary-title">Thinking forward</span></h1>
        </div>
        <div class="square"></div>
    </div>
    <div class="loader">
        <div class="loader-content">
            <h1 class="loader-title">OMER MITRAN</h1>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="night_btn.js"></script>
    <script src="anim.js"></script>

</body>
</html>