<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/header.css">
    <link rel="stylesheet" type="text/css" href="styles/anim.css">
    
</head>
<body>
    
    <div class="container fade-in-bck">
        <div>
            <h2 class="my-name"><a href="/" class="my-name">Omer M.</a></h2>
        </div>
        <div class="secondary-container">
            <a class="projects hover" href="/projects"> Projects</a>
        </div>
        <div class="secondary-container">
            <a class="about hover" href="/about">About</a>
        </div>
        <div class="secondary-container">
            <a class="contact-btn" href="/contact">Contact</a>
        </div>

    </div>
</body>
</html>