<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/projects.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="styles/anim.css">
    
    <title>Omer Mitran</title>
</head>
<body class="fade-in-bck">
    <div class="cursor"></div>
    <%- include("header.ejs") %>
    <div class="project-container">
        <div class="slideshow-container">
            <ul>
                <li>
                    <div class="project-1 project">
                 
                    </div>
                </li>
                <li>
                    <div class="project-2 project" >
                 
                    </div>
                </li>
                <li>
                    <div class="project-3 project">
                 
                    </div>
                </li>
            </ul>
        </div>
        <div class="desc">
            <hr>
            <p class="exp">1 </p>
            <span class="from">// 3 </span>
        </div>
        <p class="proj-desc">Project Name - <span class="name">Project Name</span></p>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="night_btn.js"></script>
    <script src="slides.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>