<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Gothic+A1:wght@200&family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/projects.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="styles/anim.css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-circled-m-32.png">
    
    <title>Omer Mitran</title>
</head>
<body class="fade-in-bck">
    <div class="cursor"></div>
    <%- include("header.ejs") %>
    <div class="project-container">
        <h1 class="page-title">Latest Projects</h1>
        <div class="outer">
        <div class="project-1">
            <div class="project-desc">
                <h1 class="project-name">Nova Fashion</h1>
                <h5 class="project-par">A website I built from scratch to demonstrate my skills. I used Jquery, Javascript, nodejs, npm and express to build it</h5>
                <h1 class="numeric">click to continue 01 // 02</h1>

            </div>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="night_btn.js"></script>
    <script src="slides.js"></script>
</body>
</html>